body, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body {
    border-top: 10px solid #00cccc;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align:center;
}

.headers {
    margin: 40px;
}

.h2 {
    margin-top: 20px;
    font-size: 15px;
}

.add {
    margin-top: 50px;
    text-decoration: none;
    color: #fff;
    background-color: #00cccc;
    border-radius: 4px;
    padding: 10px;
    transition: background-color 0.3s;
}

.add:hover {
    background-color: #000;
    color: #fff;
}

a {
    display: inline-block;
}

.table-container {
    width: 500px;
    margin: 0 auto;

}

table {
    width: 100%;
}

