<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>To-do App</title>
</head>
<body>

    <div class="headers">
        <h1 class="h1"> Welcome to the to-do app! </h1>
        <h2 class="h2">Make your day more efficient with creating your own to-dos.</h2>
        <a th:href="@{/saveForm}" class="add">Add To-do</a>
    </div>

    <div class="table-container">
        <table class="todo-table">
            <thead>
                <tr class="header-row">
                    <th>Status</th>
                    <th>To-do</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(toDos)}">
                    <td class="no-todo" colspan="2">No todos yet...</td>
                </tr>
                <tr th:each="toDo : ${toDos}">
                    <td>
                        <a th:href="@{/delete(id=${toDo.id})}" class="btn btn-sm btn-dark">✓</a>
                    </td>
                    <td th:text="${toDo.value}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>